.App {
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.practice-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #2b2b2b;
  margin-top: 5px;
  padding: 10px;
}

.practice-sections span {
  font-size: 2em;
  margin-right: 10px;
}

