.UseStatePractice {
  background-color: #2b2b2b;
  color: #fff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px #000;
  border-radius: 10px;
  padding-bottom: 30px;
}

.box {
    border: 1px solid #fff;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.box-2 {
    width: 100px;
    height: 100px;
    margin: 20px 0px 10px 0px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

form input:nth-child(1) {
  margin-right: 10px;
}